{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="hero-image mt-md-3"></div>

    <div class="container-fluid about-section mt-5">
        <div class="row">
            <!-- About us section -->
            <div class="col-12 col-lg-6 about-us-card">
                <h2 class="text-center about-heading pt-3">
                    About Us
                </h2>
                <hr class="w-50 mt-0">
                <p class="about-text">
                    Based in the coastal town of West Mersea in North Essex, Island Furniture.Co have been hand making bespoke furniture
                    for over 20 years. <br>
                    In the early days we made traditional pine furniture, but as tastes changed and with a desire to use 
                    more reclaimed materials, we have focused on a more rustic style giving each of our products a unique look. <br>
                    As well as making a selection of items for the home, we have also started supplying the retail trade with unique
                    display stands, counters and storage units to give your retail outlet it's own distinct look. <br>
                    Whether you are buying for your home or shop each piece can be made to your own size and design, so if you can't find what 
                    you are looking for here, please send us a message in the contact page and we will be more than happy to discuss it with you.
                </p>
                <hr class="w-50 mt-0">
            </div>
            <div class="col-12 col-lg-6">
                <img class="img-fluid pb-3 pt-3" src="{{ MEDIA_URL }}mersea-pic.jpeg" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid color-container">
        <div class="row mb-5">
            <!-- Section to show which colours and brand of paint are used -->
            <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center mt-5 colors-used-heading">Colours We Use</h2>
                <hr class="w-25 mt-0">
                <p class="text-center">
                    We use Farrow and Ball to paint our products so if you can't see the colour you want, let us know what it is you 
                    would like from the F&B colour chart and we will be happy to get it for you. <br>
                    Alternatively you can have it finished in a traditional wood stain for a more rustic look.
                </p>
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4">
                <h4 class="mt-3">Railings</h4>
                <img class="color-img" width="150" height="150" src="{{ MEDIA_URL }}fb-railings.jpeg" alt="colour sample image">
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4">
                <h3 class="mt-3">Old White</h3>
                <img class="color-img" width="150" height="150" src="{{ MEDIA_URL }}fb-old-white.jpeg" alt="colour sample image">
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4">
                <h3 class="mt-3">Green Smoke</h3>
                <img class="color-img" width="150" height="150" src="{{ MEDIA_URL }}fb-green-smoke.jpeg" alt="colour sample image">
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4">
                <h3 class="mt-3">Pavilion Grey</h3>
                <img class="color-img" width="150" height="150" src="{{ MEDIA_URL }}fb-pavilion.jpeg" alt="colour sample image">
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4">
                <h3 class="mt-3">Tallow</h3>
                <img class="color-img" width="150" height="150" src="{{ MEDIA_URL }}fb-tallow.jpeg" alt="colour sample image">
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-4">
                <h3 class="mt-3">Lulworth Blue</h3>
                <img class="color-img" width="150" height="150" src="{{ MEDIA_URL }}fb-lulworth.jpeg" alt="colour sample image">
            </div>
        </div>
    </div>

{% endblock %}
