/* fonts imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat+Alternates:wght@300&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    font-family: 'montserrat alternates';
    background-color: #fffffa;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/media/ms4-hero-image.jpeg") ;
  height: 550px;
  width: 95%;
  margin: auto;
  border: 2px solid #9e8954;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 /* Fading animation for hero image */
  animation-fill-mode: forwards;
    -webkit-animation-name: hero-image;
    -webkit-animation-duration: 5s;
    animation-name: hero-image;
    animation-duration: 5s;
}

  @-webkit-keyframes hero-image {
    from {opacity: .2}
    to {opacity: 5}
  }
  
  @keyframes hero-image {
    from {opacity: .2}
    to {opacity: 5}
  }

/* Hr line throughout site*/
hr {
    background-color: #9e8954;
}

/* Navbar */

.fixed-top {
    background-color: #282828;
}

.navbar-toggler {
    padding: 0;
}

.nav-link,
.navbar-nav .nav-link{
    color: #9e8954;
}

ul {
    padding-inline-start: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    letter-spacing: 1px;
}

.heading-text,
.logo-font {
    font-family: "handlee";
    letter-spacing: 2px;
    color: #9e8954;
}

.navbar-dark .navbar-nav .nav-link:hover,
.logo-font:hover,
.nav-link:hover {
    color: #daa520;
}

.main-logo-link {
    width: fit-content;
}

.search-btn {
    border-radius: 0px 20px 20px 0px !important;
}

.search-bar {
    border-radius: 20px 0px 0px 20px !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Footer */

.footer {
    background-color: #282828;
    margin-top: auto;
}

.footer-heading {
    margin-bottom: 5px;
    color: #9e8954;
}

.footer-txt {
    margin-bottom: 5px;
    color: white;
}

.footer-link {
    font-size: 16px;
    color: white;
}

.footer-link:hover {
    color: #9e8954;
    text-decoration: none;
}

.footer-email {
    color: white 
}

.footer-email:hover {
    color: #daa520;
}

/* buttons */

.search-btn {
    background: #9e8954;
    border: none;
}

.search-btn:hover {
    background: #daa520;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.btn-password,
.btn-green {
    background: #3b433c;
    color: white;
}

.btn-password:hover,
.btn-green:hover {
    background: #282828;
    color: #daa520;
    text-decoration: none;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #9e8954;
    border-radius: 50%;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.border-black {
    border: 1px solid black !important;
}

/* toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--- Index page ---*/

.color-img {
    border-radius: 50%;
}

.about-section {
    background-color: #3b433c;
    margin-top: 30px;
    text-align: center;
}

.about-heading {
    font-family: "handlee";
    color : #9e8954;
}

.about-text {
    color : white;
}

.colors-used-heading {
    font-family: "handlee";
}

.color-container {
    background-color: #a2a9af;
}

/*--- Products Page ---*/

.card-img-top {
    height: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.review-container {
    background-color: #a2a9af;
}

.review-text {
    color: white;
}

.breadcrumb {
    background-color: white;
    padding-top: 0;
}

.breadcrumb-item.active {
    background-color: white;
}

a.review-link {
    color: #3b433c;
}

h5 {
    color: white;
}

.bag-info {
    color: black;
}

.product-card {
    padding-left: 0;
}

.modal-title {
    color: black
}

/* Modal to confirm deletion of product */

.delete-btn {
    background: none!important;
    border: none;
}

.delete-btn:hover {
    text-decoration: underline;
}

.delete-btn:focus {
    outline: none;
    box-shadow: none;
  }

label.requiredField {
    color: #3b433c
}

p.inner-review-text {
    margin-bottom: 0;
}

/*--- Checkout page ---*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* Sets country dropdown box to grey */
select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/*loading spinner */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* --- Contact Page --- */

.form-control {
    border-radius: 0;
}

button.faq-btn {
    margin-bottom: 10px;
    background: #3b433c;
    color: white;
}

button.faq-btn.active {
    background: #9e8954;
}

/*--- Allauth form formatting ---*/

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
}

.allauth-form-inner-content a {
	color: #daa520; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.review-text {
    margin-bottom: 0;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), 
  and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 10px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 124px;
    }
} 

/* pad the top a bit when navbar is collapsed on mobile */
/* for medium screens and smaller */
@media (max-width: 991px) {

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
        padding-top: 10px;
    }

    .navbar-toggler {
        font-size: 1.5rem;
    }

    .hero-image {
        width: 100%;
    }

    .breadcrumb {
        padding-top: 20px;
    }

    .block-container {
        padding-top: 54px;
    }
}

/* small to medium screens */

@media (min-width: 576px) and (max-width: 992px) {
    .hero-image {
        height: 450px
    }
}

@media (max-width: 575.99px) {
    .hero-image {
        height: 350px;
    }
}