{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form method="POST" action="{% url 'contact' %}" id="contact-form">
            {% csrf_token %}
            {{ contact_form|crispy }}
            <div class="text-center">
                <button id="submit-button" class="btn my-btn pay-btn hover">Send! </button>
            </div>
        </form>
    </div>
{% endblock %}

